@import './../../style/default.less';

.header {
    background-color: @colorR;
    .header-top {
        height: 58px;
        line-height: 58px;
        text-align: right;
        padding: 0 30px;
        .logo {
            float: left;
            .logoImg {
                height: 58px;
                width: 120px;
            }
        }
        .logreg {
            width: 80px;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20px;
        }
        .orders {
            width: 100px;
        }
    }
}

#components-dropdown-demo-placement .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

