@import './../../style/default.less';

.header{
    background-color: @colorR;
    .header-top{
        height: 56px;
        line-height: 56px;
        text-align: right;
        padding: 0 30px;
        .logo{
            color: #f9c700;
            font-size: 22px;
            font-weight: bold;
            float: left;
        }
        .logreg{
            width: 80px;
            font-size: 14px;
            font-weight: 500;
            margin-left: 20px;
        }
        .orders{
            width: 100px;
        }
    }
}

#components-dropdown-demo-placement .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

