@import '../../style/default.less';

.content{
    padding: 20px 30px;
    min-height: 660px;
}

.oneProp {
    height: 400px;
    margin-bottom: 20px;
    .pic {
        width: 100%;
        height: 400px;
        cursor: pointer;
        transition: all 0.6s;
    }
    .pic:hover {
        transform: scale(1.2);
    }
    .right {
        width: 50%;
        height: 200px;
        float: left;
        overflow: hidden;
    }
}

.showDetail {
    padding: 0 90px;
    .upper {
        height: 150px;
        border-bottom: solid 1px #d9d9d9;
        margin-bottom: 20px;
    }
    .profile {
        float: left;
        width: 66px;
        height: 100%;
        margin-right: 35px;
        .photo {
            width: 100%;
            height: 66px;
            border-radius: 33px;
            margin-top: 15px;
            margin-bottom: 3px;
        }
        .name {
            color: #f9c700;
            width: 66px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;

        }
    }
    .description {
        margin-bottom: 10px;
        .title {
            color: black;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .location {
            margin-bottom: 8px;
        }
    }
    .reviews {
        width: 100%;
        height: 70px;
        border-bottom: solid 1px #d9d9d9;
        margin-bottom: 20px;
    }
    .bigFonts {
        color: black;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .review_photo {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        float: left;
        margin-right: 20px;
    }
    .checkInOut {
        float: right;
        width: 90%;
        height: 500px;
        padding: 20px 20px;
        margin-top: 36px;
        border: solid 1px #d9d9d9;
        background-color: #fffbe6;
        .checkLine {
            width: 100%;
            height: 45px;
            border-bottom: solid 1px #d9d9d9;
        }
        .checkPrice {
            font-size: 22px;
            font-weight: bold;
            margin-right: 5px;
        }
    }
    .checkNotes {
        color: #bfbfbf;
        height: 65px;
        margin-top: 50px;
        padding-top: 10px;
        text-align: center;
        border-top: solid 1px #d9d9d9;
        border-bottom: solid 1px #d9d9d9;
    }
}

.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }


  