@import '../../style/default.less';

.content {
    padding: 20px 30px;
    min-height: 660px;
}

.orderTitle {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
}

.allOrders {
    padding: 0 30px;
    height: 230px;
    margin-bottom: 10px;
    .image {
        float: left;
        width: 46%;
        height: 100%;
    }
    .detail {
        float: left;
        width: 54%;
        height: 100%;
        padding: 0 2%;
        background-color: #f5f5f5;
        .title {
            color: @colorA;
            font-size: 18px;
            font-weight: bold;
            height: 30px;
            overflow: hidden;
            margin-top: 10px;
        }
        .location {
            height: 50px;
            overflow: hidden;
        }
        .price {
            color: black;
            font-size: 16px;
            font-weight: bold;
            margin-right: 5px;
            height: 30px;
        }
        .rentTime {
            height: 30px;
        }
        .orderTime {
            height: 30px;
            margin-bottom: 5px;
        }
    }
}