@import '../../style/default.less';

.content {
    padding: 20px 30px;
    min-height: 660px;
}

.requestTitle {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.addRequest {
    margin-bottom: 10px;
}

.allRequests {
    height: 230px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.drawerTextArea {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e8e8e8;
}